.paperlistContainer {
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

.title {
    font-weight: 700
}

.journal {
    text-transform: capitalize;
    font-style: italic;
    color: red
}

.volume {
    font-style: italic;
}

.noPapers{
    display: flex;
    justify-content: center;
    color: deepskyblue;
}